<table class="tef-form" id="form-field">
	<form>
		<thead>
		
		</thead>
		<tbody>
			<tr>
				<th><label>Label</label></th>
				<td><input type="text" name="label" placeholder=""></td>
			</tr>
			<tr>
				<th><label>Name</label></th>
				<td><input type="text" name="name" placeholder=""></td>
			</tr>
			<tr>
				<th><label>Type</label></th>
				<td>
					<select>
						<option>Select an option</option>
					</select>
				</td>
			</tr>
			<tr>
				<th><label>Description</label></th>
				<td><textarea rows="" cols=""></textarea></td>
			</tr>
			<tr>
				<th><label>Required</label></th>
				<td><input type="checkbox" name="required"></td>
			</tr>
			<tr>
				<td colspan="2">
					<button class="button">Save</button>
					<button class="button">Cancel</button>
				</td>
			</tr>
		</tbody>
		<tfoot>
		
		</tfoot>
	</form>
</table>